<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2> Contact Information </h2>
      <hr>
    </div>
    <div class="col-md-4">
      <strong> Address: </strong>
      <br>
      <strong> Phone: </strong>
      <br>
      <strong> Email: </strong>
      <br>
      <strong> Website: </strong>
      <hr>

      <p> Gangsta ipsizzle away daahng dawg shizzle my nizzle crocodizzle, consectetizzle adipiscing elit. Nullizzle sapizzle uhuh ... yih!, sizzle volutpizzle, suscipit quis, gravida vel, arcu. Pellentesque eget tortizzle. Ass erizzle. Fo shizzle dang dolor yo mamma da bomb tempizzle crunk. Mauris pellentesque nibh mah nizzle turpizzle. I'm in the shizzle shit tortizzle. Pellentesque eleifend rhoncizzle shizzle my nizzle crocodizzle. In hac yo mamma platea dictumst.
    </div>
    <div class="col-md-8">
      <iframe width="650" height="400" frameborder="0" style="border: 0px;" src="https://www.google.com/maps/embed/v1/place?q=Salem%20Oregon&key=AIzaSyCmzIEApHK5h4cW-BkTXGCDCWooQWBa1rA
"></iframe>
    </div>
    <div class="col-md-12">
      <br>
      <h2> Contact Form </h2>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="form contact-form">
        <div class="form-group">
          <label>
            <strong>Your Name</strong>
          </label>
          <br>
          <input name="name" required>
        </div>
        <div class="form-group">
          <label>
            <strong>Your Number</strong>
          </label>
          <br>
          <input name="number" required>
        </div>
        <div class="form-group">
          <label>
            <strong>Your Email</strong>
          </label>
          <br>
          <input name="email" required>
        </div>
        <div class="form-group">
          <label>
            <strong>Your Message</strong>
          </label>
          <br>
          <textarea name="message"class="form-control">
          </textarea>
        </div>
          <input type="submit">
          <br>
          <br>
          <br>
      </div>
    </div>

  </div>

</div>
