<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add new Slab to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Slab Species:</label>
        <br>
        <input #newSpecies>
      </div>

      <div>
        <label>Slab Length:</label>
        <br>
        <input #newLength>
      </div>
      <div>
        <label>Slab Width:</label>
        <br>
        <input #newWidth>
      </div>
      <div>
        <label>Slab Depth:</label>
        <br>
        <input #newDepth>
      </div>
      <div>
        <label>Slab Price:</label>
        <br>
        <input #newPrice>
      </div>
      <div>
        <label>Slab ImgUrl</label>
        <br>
        <textarea #newImgUrl></textarea>
      </div>
      <div>
        <label>Slab Description</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
            <button (click)="submitForm(newSpecies.value, newLength.value, newWidth.value, newDepth.value, newPrice.value, newImgUrl.value, newDescription.value); newSpecies.value=''; newLength.value=''; newWidth.value=''; newDepth.value=''; newPrice.value=''; newImgUrl.value=''; newDescription.value=''">Add</button>
    </div>
  </div>
</div>
